<div class="row">
    <div class="col-sm-6">
        <form class="" action="fileupload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Ссылка на картинку</label>
                <input type="file" class="form-control" name="img" placeholder="Image">
            </div>
            <div class="form-group">
                <label for="">Ссылка на объект</label>
                <input type="file" class="form-control" name="fileObj" placeholder="File">
            </div>
            <div class="form-group">
                <label for="">Ссылка на материал</label>
                <input type="file" class="form-control" name="fileMtl" placeholder="File">
            </div>
            <div class="form-group">
                <label for="">Ключевые слова</label>
                <input type="text" class="form-control" name="keywords" placeholder="Keywords">
            </div>
            <div class="form-group">
                <label for="">Пароль</label>
                <input type="text" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="buttons_for_contact">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">

    </div>
</div>