<div class="col-sm-3 col-xs-6">
    <div class="name_of_cat"><h3> {{this.name}} </h3></div>
    <div class="categ">
        <a>
            <div class="form-group">
                <a href="catalogue/{{this.id}}"> <img src="img_for_cat/{{this.url_for_cat}}" alt=""> </a>
            </div>
        </a>
    </div>
</div>
