<div class="row">
    <div class="models_from_catalogue">
        <div class="row">
            {{#if isNoResults}}
                <div class="result_column">
                    <div class="col-md-12">
                        <h1> Ничего не найдено </h1>
                    </div>
                </div>
            {{else}}
                {{#each images}}
                    <div class="col-sm-3 col-xs-6">
                        <div class="catalogue">
                            <a href="../models/{{this.id}}"> <img src="{{this.url}}" alt=""> </a>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
