<div class="homepage">
    <div class="row">
        <div class="main-image">
            <div class="col-md-8 col-sm-8 col-xs-8 offset-md-2">
                <img src="{{titleImage}}">

                <h2>BarbariArts: 3D for everyone</h2>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="lastModels">
            <!--<ul>
                <h3> НОВЫЕ МОДЕЛИ </h3>
            </ul>-->
        </div>
    </div>
</div>


