<div class="row">
    <div class="col-md-12">
        {{#showStatusMessage detailMessage}}

        {{/showStatusMessage}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="" action="" method="post">
            <div class="form-group">
                <label for="">Имя *</label>
                <input type="text" class="form-control" name="name" placeholder="Имя">
            </div>
            <div class="form-group">
                <label for="">Почта *</label>
                <input type="text" class="form-control" name="email" placeholder="Почтовый ящик">
            </div>
            <div class="form-group">
                <label for="">Пишите здесь *</label>
                <textarea name="message" class="form-control" rows="3" cols="80"
                          placeholder="Ваши пожелание оставляйте здесь"></textarea>
            </div>
            <div class="buttons_for_contact">
                <div class="form-group">
                    <button type="reset" class="btn btn-default">Сбросить</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>